:root {

    /* Colors: */
    --unnamed-color-ea001e: #EA001E;
    --unnamed-color-ecf3ff: #ECF3FF;
    --unnamed-color-ffaa00: #FFAA00;
    --unnamed-color-19b43d: #19B43D;
    --unnamed-color-19b477: #19B477;
    --unnamed-color-ff7200: #FF7200;
    --unnamed-color-0c84c2: #0C84C2;
    --unnamed-color-d4d7df: #D4D7DF;
    --unnamed-color-8e9198: #8E9198;
    --unnamed-color-5d5e61: #5D5E61;
    --unnamed-color-2a3e51: #2A3E51;
    /* ---f8f9fd-bg-: #F8F9FD;
    ---22bdee-realce-: #22BDEE; */
    --unnamed-color-000000: #000000;
    --unnamed-color-e2e2e2: #E2E2E2;
    }


body{
    font-family: 'Lato', sans-serif;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh50XSwaPGR_p.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh50XSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  .nav-item-lado-esquerdo{
    margin-left: 15px;
  }
  .nav-tabs .nav-link{
    background-color: #E8EBF3;
    color: #5D5E61;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0px!important;
    border-color: #D4D7DF;
    border-bottom: 0px;
  }
  .nav-tabs .nav-item {
    margin-bottom: -2px;
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #5D5E61;
    border-top: 3px solid #FF7200;
    border-radius: 0px!important;
    background-color: white;
  }
  .nav-tabs .nav-link:hover {
    background-color: white;
    transition:   linear 0.3s;
    }
  .row-seja-ben-vindo{
      padding: 20px 15px;
      background-color: #F8F9FD;
  }
  .p-seja-bem-vindo{
    font: normal normal normal 14px/17px Lato;
    letter-spacing: 0px;
    color: #5D5E61;
  }
  .btn-seja-bem-vindo-exportar{
    font: normal normal bold 12px/15px Lato;
    color: #2A3E51;
  }
  .container-cards{
    background: #E8EBF3;
    padding-top: 30px;
    padding: 15px;
  }
  .svg-exportar{
      margin: 5px;
  }
  .exportar-xls{
    fill:#22bdee;
  }

  .icon-tooltip{
    fill:#8e9198;
   }
   .titulo-card{
    font: normal normal bold 20px/24px Lato;
    color: var(--unnamed-color-5d5e61);
    padding-right: 5px;
   }
   .subtitulo-card{
    color: var(--unnamed-color-8e9198);
    font: normal normal normal 14px Lato;
    margin-top: -10px;
   }
   .p-tatal{
    color: var(--unnamed-color-5d5e61);
    text-align: left;
    font: normal normal normal 14px Lato;
    letter-spacing: 0px;
    color: #5D5E61;
    text-transform: uppercase;
    margin-bottom: 12px;
   }
   .p-numer-cards{
    color: var(--unnamed-color-5d5e61);
    text-align: left;
    font: normal normal 900 20px Lato;
    margin-bottom: 12px;
   }
   .info-card-p{
       padding: 0px 13px;
   }
   .atendido-svg{
    fill:#4c81f0;
   }
   .nao-atendido-svg{
       fill:#e33e36;
    }
    .p-leads-cards{
        color: #8F9194;
        font-size: 13px;
    }
    .card-body{
        padding: 20px 5px;
        background: #F8F9FD 0% 0% no-repeat padding-box;
    }
    .col-info-cards{
        padding-left: 0px;
        padding-right: 0px;
    }
    .btn-mais-detalhes{
        width: 145px;
        height: 38px;
        background: #22BDEE 0% 0% no-repeat padding-box;
        border-radius: 4px;
        font-size: 12px;
        color: white;
    }
    .btn-mais-detalhes:hover{
        color: white;
    }
    .compare-os-leads-p{
        color: var(--unnamed-color-8e9198);
        font: normal normal normal 12px/15px Lato;
    }
    .relogio-cinza-svg{
        fill:#8e9198;
    }
    .relogio-azul-svg{
        fill:#0c84c2;
    }
    .card-header{
        background-color: white;
    }
    .p-atendidos-cards{
        font-size: 14px;
        color: #5D5E61;
    }
    .p-atendidos-na-data{
        font: normal normal 900 14px Lato;
        color: #4C81F0;
        padding-top: 5px;
    }
    .p-nao-atendidos-na-data{
        font: normal normal 900 14px Lato;
        letter-spacing: 0px;
        color: #E33E36;
        padding-top: 3px;
    }
    .p-numer-cards-duracao{
        font: normal normal 900 20px Lato;
        color: #18AE3B;
    }
    .card{
        margin: 15px 0px;
    }
    .titulo-card-2{
        font: normal normal bold 18px Lato;
        color: var(--unnamed-color-5d5e61);
    }
    .p-nome-da-sala{
        text-align: left;
        font: normal normal bold 14px/17px Lato;
        letter-spacing: 0px;
        color: #5D5E61;
        padding-left: 5px;
    }
    .p-duracao-chamada{
        text-align: left;
        font: normal normal normal 14px Lato;
        color: #5D5E61;
    }
    .p-nome-pessoa-chamada{
        font: normal normal normal 14px/17px Lato;
        color: #5D5E61;
        padding-left: 10px;
    }
    .p-numero-pesssoas-chamda{
        font: normal normal normal 14px Lato;
        color: #19B43D;
    }
    .pessoas-ativas-svg{
        fill:#19b43d;
    }
    .entrar-na-sala-svg{
        fill: white;
    }
    .card-chamadas-10-min{
        background: #FFFFFF;
        box-shadow: 0px 1px 2px #00000029;
        border-radius: 6px;
        padding: 0px 0px;
        margin: 10px 0px 10px 0px;
    }
    .chamada-em-andamento{
        background: #19B43D;
        border-radius: 6px 0px 0px 6px;
        padding: 14px 7px 24px 5px;
        margin: 0px;
        display: flex;
    }
    .chamada-em-andamento-svg{
        fill:#fff;
        opacity:0.6;
    }
    .col-chamada{
        margin: 0px 0px -4px -11px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .body-chamada-10-min{
        padding: 20px 20px;
    }
    .pessoas-em-espera-svg{
        fill:#FFAA00;
    }
    .p-numero-pessoas-em-espera{
        color: #FFAA00;
        font: normal normal normal 14px Lato;
    }
    .chamada-em-espera-svg{
        fill:#fff;
        opacity:0.5;
    }
    .chamada-em-espera{
        background:#FFAA00;
        border-radius: 6px 0px 0px 6px;
        padding: 14px 6px 25px 9px;
        margin: 0px;
        display: flex;
    }
    .p-numero-pessoas-ninguem-na-sala{
        color: #8E9198;
        font: normal normal normal 14px Lato;
    }
    .ninguem-na-sala-svg{
        fill: #8E9198;
    }
    .ninguem-na-sala-stop-svg{
        fill:#fff;
        opacity:0.5;
    }
    .ninguem-na-sala{
        background:#8E9198;
        border-radius: 6px 0px 0px 6px;
        padding: 16px 6px 25px 6px;
        margin: 0px;
        display: flex;
    }
    .btn-veja-todas{
        font: normal normal bold 12px/15px Lato;
        letter-spacing: 0px;
        color: #2A3E51;
        text-transform: uppercase;
    }
    .seta-direita-svg{
        fill:#22bdee;
    }
    .container-cards-salas {
        background: #E8EBF3;
        padding: 30px 30px;
    }
    .card-salas {
        background: #FFFFFF;
        box-shadow: 0px 1px 2px #00000029;
        border-radius: 6px;
        padding: 0px 0px;
        margin: 5px 0px 5px 0px;
    }
    .car-svg{
        fill:#0c84c2;
    }
    .telefone-svg{
        fill:#0c84c2;
    }
    .em-atendimento-desc-svg{
        fill:#19b43d;
    }
    .modal-header{
        border-bottom: 0px;
    }
    .modal-body{
        padding-top: 0px;
    }
    .subtitulo-card-modal{
        font: normal normal normal 18px Lato;
        color: var(--unnamed-color-8e9198);
    }
    .ninguem-na-sala-stop--desc-svg{
        fill: #8E9198;
    }
    .chamada-em-espera-decr-svg{
        fill: #FFAA00;
    }
    .p-desc-tipo-sala{
        font: normal normal normal 12px Lato;
        letter-spacing: 0px;
        color: #5D5E61;
        padding: 5px;
        margin-bottom: 0px;
    }
    .pad-6{
        padding: 6px;
    }
    .p-modal-categ-gerados{
        font: normal normal normal 13px Lato;
        color: #8E9198;
    }
    .p-modal-num-gerados{
        font: normal normal bold 14px Lato;
        color: #8E9198;
    }
    .quadrado{
        width: 10px;
        height: 10px;
        background: #FF7200;
        margin-right: 5px;
        border-radius: 3px;
    }
    .row-modal-gerados-cinza{
        background: #F8F9FD;
        padding: 5px 0px 5px 0px;
    }
    .row-modal-gerados-branco{
        padding: 5px 0px 5px 0px;  
    }
    .row-modal-gerados-border{
        border-bottom: 1px solid var(--unnamed-color-e2e2e2);
    }
    .row-modal-gerados-azul{
        background: #0C84C2;
        padding: 5px 0px 5px 0px;
    }
    .p-modal-categ-gerados-2{
        font: normal normal normal 12px Lato;
        letter-spacing: 0px;
        color: #FFFFFF;
    }
    .p-modal-num-gerados-2{
        font: normal normal bold 14px Lato;
        color:#FFFFFF;
    }